<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FizzBuzz App</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='style.css')}}"></link>
  </head>
  <body>
    <div class="menu">
      <div class="menu-item"><a class = "link" href="{{url_for('home')}}">HomePage</a></div>
      <div class="menu-item"><a class = "link" href="{{url_for('ourworld')}}">MagicWorld</a></div>
      <div class="menu-item"><a class = "link" href="{{url_for('alphabet')}}">Dictionary</a></div>
      <div class="menu-item"><a class = "link" href="{{url_for('fizzbuzzhome')}}">FizzBuzz</a></div>
      <div class="menu-item"><a class = "link" href="{{url_for('wordshome')}}">Anagrams</a></div>
    </div>
    <div class="container">{% block container %} {% endblock%}</div>
  </body>
</html>
